header.main-header {
  text-align: left;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.14);
}

h1.visually-hidden {
  display: none;
}

a.logo-a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
}

#logo-principal-left {
  zoom: 0.07;
  clip-path: inset(0 0 25% 0);
  display: block;
}

#logo-principal-right {
  zoom: 0.07;
  clip-path: inset(75% 0 0 0);
  display: block;
  margin-top: -20%;
  margin-left: -5%;
}