h1.visually-hidden {
    color: brown;
}

body {
    background-color: lightblue;
}

.nav-list li a:link {
    color:black;
    text-decoration: none;
}

.nav-list li a:visited {
    color: black;
    text-decoration: none;
}