body {
    background-color: white;
    margin: 0;
    padding: 0;
    padding-top: 80px; /* Espacio para el header fijo */
}

.nav-list li a:link {
    color:black;
    text-decoration: none;
}

.nav-list li a:visited {
    color: black;
    text-decoration: none;
}